#AnsManual{
    width: 70%;
}
#AnsManual_screen{
    border-bottom:1px solid rgb(112, 112, 112);
    text-align: center;
    padding:1rem;
}
#AnsManual_buttons_body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 16px;
}
#AnsManual_buttons_body >* {
    /* color:rgb(183, 183, 183); */
    text-align: center;
    padding:1rem;
    cursor: pointer;
    transition: .1s;
}
#AnsManual_buttons_body>*:last-child {
    outline: 2px solid rgb(99, 99, 99);
    grid-column-start: 2;
    width: fit-content;
    margin: auto;
    border-radius: 5%;
    margin-top: 35px;
}
#AnsManual_buttons_body >*:active {
    transform: scale(0.8);
}