.Timer{
    margin:0 auto;
    height: fit-content;
    text-align: center;
    width:300px;
    border:1px solid white;
}
.timerVisual{
    height: 7px;
    transition: all 1s linear;
    border-radius: 10px;
}
.timeLeft{
    font-size: 12px;
}
.timeUp{
    color:red;
    font-size: 22px;
    margin-top: 3px;
}
@media (max-width: 600px) {
    .Timer{
        width:180px;
    }
}