#Mainbar{
    /* border:1px solid yellow; */
    min-width: 340px;
    width:50vw;
    height: 99vh;
    margin: auto;
}
#Mainbar_head{
    /* border:1px solid pink; */
    padding:4rem;
    text-align: center;
}
#Mainbar_mid{
    height: 74%;
    display: grid;
    place-items: center;
}