#Mainbar{
    min-width: 340px;
    width:65vw;
    height: 99vh;
    margin: auto;
    display: grid;
}
#Mainbar_head{
    text-align: center;
    font-size: 24px;
    min-height: 100px;
    display: grid;
    place-content: center;
    margin-bottom: 40px;
}
#Mainbar_mid{
    height:450px;
    display: grid;
    place-items: center;
}
#result_home{
    width: fit-content;
    position:absolute;
    right:5px;
    top:5px;
    padding:0;
}
#homeResult_btn{
    cursor: pointer;
    font-size: 23px;
}

#generateBtn{
    padding:10px 5vw;
    background-color: rgb(50, 60, 67);
    border:none;
    border-radius: 5px;
    font-size: 22px;
    color:white;
    position: absolute;
    top:45vh;
}
.pop{
    animation: pop .5s;
}
.optionModeResult{
    padding:4px 9px;
    font-family: monospace;
    font-style: oblique;
}
.optionModeResult > * span{
    font-size: larger;
}

@keyframes pop {
    0%{
        transform: scale(0);
    }
    90%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
@media (max-width: 600px) {
    #Mainbar_mid{
        display: flex;
        justify-content: center;
    }
    .optionModeResult{
        padding:2px 6px;
        font-size: 12px;
    }
}