#Sidebar{
    height: 100vh;
    position:relative;
    background-color: rgb(50, 60, 67);
    color:white;
    font-weight: 100;
    z-index: 99;
}
#sideBarBtn{
    position: absolute;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding:0;
    border:none;
    right:-34px;
    top:3px;
    font-size: 28px;
    color:rgb(102, 106, 117);
    cursor: pointer;
}
#sideBarBtn:active{
    transform: scale(1.2);
}
#sidebarInnerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1.3rem;
    height: 98%;
    gap:1.5rem;
}

.innerBtns-40px-width > *{
    background-color: rgb(121, 142, 167);
    outline:none;
}
.selected{
    background-color: rgb(39, 92, 171);
    color:white;
}
.optImg{
    margin-top: 3px;
    filter:invert();
    width: 12px;
}
@media (max-width: 600px) {
    #Sidebar{
        position: fixed;
        left:0;
    }
    #sidebarInnerDiv{
        width: 6rem;
        gap:0.8rem;
        height: 97%;
    }
    .innerBtns-40px-width > *{
        min-width: 37px;
        padding:0;
    }
  
}