#Sidebar{
    height: 100vh;
    position:relative;
    transition: .2s;
    background-color: rgb(50, 60, 67);
}
#sideBarBtn{
    position: absolute;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding:0;
    border:none;
    right:-32px;
    top:3px;
    font-size: 20px;
    /* width: */
}
#sideBarBtn:active{
    transform: scale(1.2);
}
#sidebarInnerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1.5rem;
    height: 93%;
    gap:2rem;
    width: 20rem;
}
.innerBtns-40px-width > *{
    width: 40px;
    background-color: rgb(180, 191, 200);
}
.selected{
    background-color: rgb(39, 92, 171);
    color:white;
}
@media (max-width: 600px) {
    #Sidebar{
        position: fixed;
        left:0;
    }
    #sidebarInnerDiv{
        width: 5rem;
    }
}