#app{
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}
.darkMode{
  background-color: black;
  color: white;
}
.lightMode{
  background-color: rgb(192, 230, 255);
  font-weight: 700;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.block{
  display: block;
}
.no-break-line{
  white-space: nowrap;
}
.btnEffect:active{
  transform: scale(1.2);
}
.hide{
  display: none;
}
@media (max-width: 600px) {
  #app{
      flex-direction: column;
  }
}