#app{
  /* display: grid;
  place-content: center; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column; */

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
}
.darkMode{
  background-color: black;
  color: white;
}
.lightMode{
  background-color: rgb(214, 214, 214);
  color: black;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block{
  display: block;
}
.no-break-line{
  white-space: nowrap;
}

@media (max-width: 600px) {
  #app{
      flex-direction: column;
      /* overflow-y: hidden; */
  }
}